<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/Layout/layout.xhtml">




<ui:define name="title">Welcome</ui:define>

<ui:define name="content">

<h:form>
<h:panelGrid columns="2">

<h:outputText value="Email" />
<h:inputText value="#{registerBean.email}" />

<h:outputText value="First Name" />
<h:inputText value="#{registerBean.firstName}" />

<h:outputText value="Last Name" />
<h:inputText value="#{registerBean.lastName}" />


<h:outputText value="Date of Birth" />
<h:inputText value="#{registerBean.birthDay}">

<f:convertDateTime pattern="dd-MM-yyy"/>

</h:inputText>


<h:outputText value="Password" />
<h:inputSecret value="#{registerBean.password}" />


<h:commandButton id="btnRegister" action="#{registerBean.doRegister()}" value="Register" />
<h:message for="btnRegister"/>
</h:panelGrid>
</h:form>


</ui:define>
</ui:composition>